* {
  font-family: "JetBrainsMono Nerd Font";
}

window#waybar {
  background-color: rgba(44, 62, 65, 0.8);
}

.modules-center > widget > *,
.modules-left > widget > *,
.modules-right > widget > * {
  padding: 1px 10px;
  margin: 1px 5px;
  border-radius: 2px;
  color: #2c3e41;
  font-weight: bold;

  background-color: #cfe5e8;

  background-image: repeating-linear-gradient(
    0deg,
    rgba(0, 40, 50, 0.08) 0px,
    rgba(0, 40, 50, 0.08) 1px,
    transparent 1px,
    transparent 3px
  );

  box-shadow:
    inset 0 1px 0 rgba(255, 255, 255, 0.8),
    0 0 12px rgba(207, 229, 232, 0.5),
    inset 0 -1px 2px rgba(0, 0, 0, 0.1);

  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}

#workspaces {
  background: none;
  box-shadow: none;
  border: none;
}

#workspaces button.active {
  padding: 1px 10px;
  border-radius: 2px;
  color: #121212;
  font-weight: bold;

  background-color: #dfa742;

  border: none;
  outline: none;
  box-shadow: none;

  background-image: repeating-linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.12) 0px,
    rgba(0, 0, 0, 0.12) 1px,
    transparent 1px,
    transparent 3px
  );

  box-shadow:
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    0 0 10px rgba(223, 167, 66, 0.6),
    inset 0 -1px 2px rgba(0, 0, 0, 0.3);

  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
}

#workspaces button {
  margin: 0px 10px 0px 0px;
  transition: all 200ms ease-in-out;
  border-radius: 2px;
  background: transparent;
  color: #dfa742;
  border: 1px solid #dfa742;
}

#workspaces button.active {
  min-width: 50px;
  font-weight: bold;
  border: none;
}

tooltip {
  background: #2b303b;
  border: 1px solid #dfa742;
}

tooltip label {
  color: #ffffff;
  font-family: "JetBrainsMono Nerd Font", "JetBrainsMono NF", "monospace";
}
